<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wei.tools.dao.CalendarMapper">
  <resultMap id="BaseResultMap" type="wei.tools.model.Calendar">
    <result column="day_str" jdbcType="VARCHAR" property="dayStr" />
    <result column="cn_day" jdbcType="VARCHAR" property="cnDay" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <insert id="insert" keyColumn="id"  parameterType="wei.tools.model.Calendar" >
    insert into t_calendar (day_str, cn_day, status
      )
    values (#{dayStr,jdbcType=VARCHAR}, #{cnDay,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>


  <select id="selectByDayStr" parameterType="java.lang.String" resultMap="BaseResultMap">
    select  day_str, cn_day, status
    from t_calendar
    where day_str = #{dayStr}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select day_str, cn_day, status
    from t_calendar
  </select>
  
  <insert id="batchInsertOrUpdate">
    insert into t_calendar (day_str,cn_day,status)
    values 
    <foreach collection="calendars" index="index" item="calendar" separator=",">
        (#{calendar.dayStr},#{calendar.cnDay},#{calendar.status})
    </foreach>
    ON DUPLICATE KEY UPDATE cn_day=values(cn_day),status=values(status)
  </insert>
</mapper>